{% extends "default-layout.html" %}

{% block crumb %}
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Post List</h1>
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">post list</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block body %}
<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <aside class="sidebar">
                    <!--<div class="widget widget-subscription">
                        <h4 class="widget-title">Get notified updates</h4>
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email Address">
                            </div>
                            <button type="submit" class="btn btn-main">I am in</button>
                        </form>
                    </div>-->

                    <!-- Widget Latest Posts -->
                    <div class="widget widget-latest-post">
                        <h4 class="widget-title">Popular Posts</h4>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/static/images/blog/post-thumb.jpg" alt="Image">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="">Introducing Swift for Mac</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, officia.</p>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/static/images/blog/post-thumb-2.jpg" alt="Image">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="">Welcome to Themefisher Family</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, officia.</p>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/static/images/blog/post-thumb-3.jpg" alt="Image">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="">Warm welcome from swift</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, officia.</p>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/static/images/blog/post-thumb.jpg" alt="Image">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="">Introducing Swift for Mac</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, officia.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Latest Posts -->

                    <!-- Widget Category -->
                    <div class="widget widget-category">
                        <h4 class="widget-title">Categories</h4>
                        <ul class="widget-category-list">
                            <li><a href="/post/?action=1">技术</a>
                            </li>
                            <li><a href="#">生活</a>
                            </li>
                            <!--<li><a href="#">美食</a>
                            </li>-->
                            <li><a href="#">旅游</a>
                            </li>
                            <!--<li><a href="#">商品</a>
                            </li>-->
                        </ul>
                    </div> <!-- End category  -->

                    <!-- Widget tag -->
                    <div class="widget widget-tag">
                        <h4 class="widget-title">Tag Cloud</h4>
                        <ul class="widget-tag-list">
                            <li><a href="#">Golang</a>
                            </li>
                            <li><a href="#">Docker</a>
                            </li>
                            <li><a href="#">Kubernetes</a>
                            </li>
                            <li><a href="#">Consul</a>
                            </li>
                        </ul>
                    </div> <!-- End tag  -->

                </aside>
            </div>
            <div class="col-md-8">
                {% for post in list %}
                <div class="post">
                    <div class="post-media post-thumb">
                        <a href="blog-single.html">
                            <img src="{{image_url}}" alt="">
                        </a>
                    </div>
                    <h2 class="post-title"><a href="/post/{{post.id}}">{{post.title}}</a></h2>
                    <div class="post-meta">
                        <ul>
                            <li>
                                <i class="tf-ion-ios-calendar"></i> {{post.publish_at}}
                            </li>
                            <li>
                                <i class="tf-ion-android-person"></i> 由 {{post.author}} 发布
                            </li>
                            <li>
                                <a href=""><i class="tf-ion-ios-pricetags"></i> LIFESTYLE</a>,<a href=""> TRAVEL</a>, <a
                                        href="">FASHION</a>
                            </li>
                            <li>
                                <a href=""><i class="tf-ion-chatbubbles"></i> {{comment|toString}} 条评论</a>
                            </li>
                        </ul>
                    </div>
                    <div class="post-content">
                        <p>{{post.desc}}</p>
                        <a href="/post/{{post.id}}" class="btn btn-main">Continue Reading</a>
                    </div>

                </div>
                {% endfor %}

                <div class="text-center">
                    <ul class="pagination post-pagination">
                        {{paginator|str2html}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}